@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 600;
    src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.ttf");
}

button, input {
    outline: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.text_bold {
    font-weight: 700;
}

.text_semibold {
    font-weight: 600;
}

.main {
    min-height: 100vh;
}

.main__container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 25px 0 25px;
}

.main__content {
    height: 100%;
}

.title {
    margin-bottom: 0;
    text-align: center;

    font-weight: 700;
    font-size: 44px;
}

.title_sm {
    margin-bottom: 0;
    text-align: center;

    font-weight: 600;
    font-size: 32px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu {
    margin-top: 50px;
}

.btn {
    margin-top: 10px;
    padding: 10px 20px;

    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;

    background-color: #1531AE;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.btn:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.05);
}

.menu-btn:first-child {
    margin-top: 0;
}

.collection {
    margin-top: 100px;
}

.collection-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collection-content {
    display: grid;
    grid-template-columns: repeat(4 ,minmax(0, 1fr));
    grid-column-gap: 30px;
    margin-top: 15px;
    white-space: nowrap;
}

.collection-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 15px;

    border: 1px solid #c4c4c4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    white-space: normal;
}

.collection__avatar {
    max-width: 100%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.collection__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 15px 10px;
}

.info-item {
    margin-top: 10px;
}

.info__text {
    margin-top: 0;
    margin-bottom: 0;
}

.info__text:first-child {
    margin-top: 0;
}

.info__characteristic {
    font-weight: 700;
}

.collection__control {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin-top: 15px;
}

.collection__btn {
    margin-top: 0;
    padding: 5px 0;

    font-size: 18px;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.collection__btn:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.collection__btn-about {
    background-color: hsl(225, 92%, 69%);
    transition: background-color 0.2s;
}

.collection__btn-about:hover {
    background-color: rgba(21, 49, 174, 1);
}

.collection__btn-archive {
    background-color: hsl(47, 93%, 68%);
    transition: background-color 0.2s;
}

.collection__btn-archive:hover {
    background-color: hsl(47, 93%, 60%);
}

.collection__btn-delete {
    background-color: hsl(353, 94%, 62%);
    transition: background-color 0.2s;
}

.collection__btn-delete:hover {
    background-color: hsl(353, 94%, 50%);
}


body {

}

.popups {
    overflow: auto;
}

.popup {
    width: 100vw;
    height: 100vh;

    display: none;

    position: fixed;
    left: 0;
    top: 0;
    padding: 50px;

    overflow: auto;

    background-color: rgba(0, 0, 0, 0.45);
}

.popup__content {
    max-width: 860px;
    width: 100%;

    margin: 0 auto;
    padding: 30px 40px 20px 40px;

    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.popup__title {
    text-align: left;
}

.popup__description {
    font-size: 20px;
}

.form-items {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.form-items__wrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item:first-child {
    margin-top: 0;
}

.form-item__label {
    display: none;

    margin-top: 0;
    margin-bottom: 5px;
}

.form-item__input {
    padding: 5px 10px;

    font-weight: 700;

    border: 1px solid #c4c4c4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.form-item__input::placeholder {
    font-weight: 500;
}

.form__control {
    display: flex;
    justify-content: space-between;

    margin-top: 25px;
}

.form__btn {
    font-size: 16px;
}

.form__btn_delete {
    background-color: hsl(353, 94%, 50%);
}






.anket__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
}

.anket__avatar {
    width: 100%;
    justify-self: center;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.about-items {
    margin-top: 25px;
}

.about-items__title {
    font-size: 22px;
}

.about-items__wrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(0 ,1fr));
}

.about__label {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}

@media(max-width: 1200px){
    .title {
        font-size: 42px;
    }

    .title_sm {
        font-size: 30px;
    }
}

@media(max-width: 992px){
    .title {
        font-size: 38px;
    }

    .title_sm {
        font-size: 28px;
    }


    .collection-content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media(max-width: 768px){
    .main__container {
        padding-top: 40px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .title {
        font-size: 34px;
    }

    .title_sm {
        font-size: 26px;
    }

    .main-menu {
        margin-top: 35px;
    }


    .collection-content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media(max-width: 576px){
    .main__container {
        padding-top: 25px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .title {
        font-size: 30px;
    }

    .title_sm {
        font-size: 24px;
    }

    .btn {
        font-size: 18px;
    }

    .main-menu {
        margin-top: 30px;
    }



    .collection-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .collection-content {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media(max-width: 450px){
    .title {
        font-size: 26px;
    }

    .title_sm {
        font-size: 22px;
    }

    .btn {
        font-size: 16px;
    }

    .main-menu {
        margin-top: 20px;
    }
}