<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Картотека Интерпола</title>
    <script src="../js/main.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="main">
    <div class="main__container">
        <div class="main__content">
            <h2 class="title">Картотека</h2>
            <div class="collection">
                <div class="collection-header">
                    <h4 class="title_sm collection__title">Анкеты преступников:</h4>
                    <button class="btn collection-header__btn">Поиск...</button>
                </div>
                <div class="collection-content">
                    <div class="collection-item">
                        <img src="../img/avatar_default.jpg" alt="Фото" class="collection__avatar">
                        <div class="collection__info">
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Имя:</p>
                                <p class="info__text info__characteristic">Марк</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Фамилия:</p>
                                <p class="info__text info__characteristic">Самойленко</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Дата рождения:</p>
                                <p class="info__text info__characteristic">03.12.2003</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Преступление:</p>
                                <p class="info__text info__characteristic">Спиздил соль у Комару</p>
                            </div>
                        </div>
                        <div class="collection__control">
                            <button class="btn collection__btn collection__btn-about">Детальнее</button>
                            <button class="btn collection__btn collection__btn-archive">Архивировать</button>
                            <button class="btn collection__btn collection__btn-delete">Удалить</button>
                        </div>
                    </div>
                    <div class="collection-item">
                        <img src="../img/avatar_default.jpg" alt="Фото" class="collection__avatar">
                        <div class="collection__info">
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Имя:</p>
                                <p class="info__text info__characteristic">Марк</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Фамилия:</p>
                                <p class="info__text info__characteristic">Самойленко</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Дата рождения:</p>
                                <p class="info__text info__characteristic">03.12.2003</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Преступление:</p>
                                <p class="info__text info__characteristic">Спиздил соль у Комару</p>
                            </div>
                        </div>
                        <div class="collection__control">
                            <button class="btn collection__btn collection__btn-about">Детальнее</button>
                            <button class="btn collection__btn collection__btn-archive">Архивировать</button>
                            <button class="btn collection__btn collection__btn-delete">Удалить</button>
                        </div>
                    </div>
                    <div class="collection-item">
                        <img src="../img/avatar_default.jpg" alt="Фото" class="collection__avatar">
                        <div class="collection__info">
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Имя:</p>
                                <p class="info__text info__characteristic">Марк</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Фамилия:</p>
                                <p class="info__text info__characteristic">Самойленко</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Дата рождения:</p>
                                <p class="info__text info__characteristic">03.12.2003</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Преступление:</p>
                                <p class="info__text info__characteristic">Спиздил соль у Комару</p>
                            </div>
                        </div>
                        <div class="collection__control">
                            <button class="btn collection__btn collection__btn-about">Детальнее</button>
                            <button class="btn collection__btn collection__btn-archive">Архивировать</button>
                            <button class="btn collection__btn collection__btn-delete">Удалить</button>
                        </div>
                    </div>
                    <div class="collection-item">
                        <img src="../img/avatar_default.jpg" alt="Фото" class="collection__avatar">
                        <div class="collection__info">
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Имя:</p>
                                <p class="info__text info__characteristic">Марк</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Фамилия:</p>
                                <p class="info__text info__characteristic">Самойленко</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Дата рождения:</p>
                                <p class="info__text info__characteristic">03.12.2003</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Преступление:</p>
                                <p class="info__text info__characteristic">Спиздил соль у Комару</p>
                            </div>
                        </div>
                        <div class="collection__control">
                            <button class="btn collection__btn collection__btn-about">Детальнее</button>
                            <button class="btn collection__btn collection__btn-archive">Архивировать</button>
                            <button class="btn collection__btn collection__btn-delete">Удалить</button>
                        </div>
                    </div>
                    <div class="collection-item">
                        <img src="../img/avatar_default.jpg" alt="Фото" class="collection__avatar">
                        <div class="collection__info">
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Имя:</p>
                                <p class="info__text info__characteristic">Марк</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Фамилия:</p>
                                <p class="info__text info__characteristic">Самойленко</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Дата рождения:</p>
                                <p class="info__text info__characteristic">03.12.2003</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Преступление:</p>
                                <p class="info__text info__characteristic">Спиздил соль у Комару</p>
                            </div>
                        </div>
                        <div class="collection__control">
                            <button class="btn collection__btn collection__btn-about">Детальнее</button>
                            <button class="btn collection__btn collection__btn-archive">Архивировать</button>
                            <button class="btn collection__btn collection__btn-delete">Удалить</button>
                        </div>
                    </div>
                    <div class="collection-item">
                        <img src="../img/avatar_default.jpg" alt="Фото" class="collection__avatar">
                        <div class="collection__info">
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Имя:</p>
                                <p class="info__text info__characteristic">Марк</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Фамилия:</p>
                                <p class="info__text info__characteristic">Самойленко</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Дата рождения:</p>
                                <p class="info__text info__characteristic">03.12.2003</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Преступление:</p>
                                <p class="info__text info__characteristic">Спиздил соль у Комару</p>
                            </div>
                        </div>
                        <div class="collection__control">
                            <button class="btn collection__btn collection__btn-about">Детальнее</button>
                            <button class="btn collection__btn collection__btn-archive">Архивировать</button>
                            <button class="btn collection__btn collection__btn-delete">Удалить</button>
                        </div>
                    </div>
                    <div class="collection-item">
                        <img src="../img/avatar_default.jpg" alt="Фото" class="collection__avatar">
                        <div class="collection__info">
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Имя:</p>
                                <p class="info__text info__characteristic">Марк</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Фамилия:</p>
                                <p class="info__text info__characteristic">Самойленко</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Дата рождения:</p>
                                <p class="info__text info__characteristic">03.12.2003</p>
                            </div>
                            <div class="info-item">
                                <p class="info__text info__characteristic-name">Преступление:</p>
                                <p class="info__text info__characteristic">Спиздил соль у Комару</p>
                            </div>
                        </div>
                        <div class="collection__control">
                            <button class="btn collection__btn collection__btn-about">Детальнее</button>
                            <button class="btn collection__btn collection__btn-archive">Архивировать</button>
                            <button class="btn collection__btn collection__btn-delete">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>